*, body {
  font-family: "Montserrat";
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

.navbar {
  margin-bottom: 0px;
  border: 0;
}

.navbar-brand {
  padding-left: 20px;
}

.navbar-brand, li>a {
  color: white;
}

.container-fluid:nth-child(2) {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.tab-pane > p {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.dataTables_wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.graphs {
  padding-left: 50px;
}

